<div class="col-md-4">
  <ng-container *ngIf="!isMultiple else photosTMP">
    <app-upload-pictures
      *ngIf="src?.length"
      [pictures]="src!"
      (deleteId)="deleteSrc()"></app-upload-pictures>
  </ng-container>
  <div class="mb-3">
    <input class="form-control"
           type="file"
           id="formFile"
           [multiple]="isMultiple"
           (change)="onFileChange($event)">
  </div>
</div>
<ng-template #photosTMP>
  <app-upload-pictures
    *ngIf="src?.length"
    [pictures]="src!"
    (deleteId)="deletePhoto($event)"></app-upload-pictures>
</ng-template>
