<div class="header">
  <img src="assets/logo.jpg" alt="logo" class="logo">
  <app-header #header appCheckOnScreen
              style="width: 100%"
              id="header-tab-pane"
              [selectedSection]="selectedSection"
              [isSmallScreen]="isSmallScreen"
              [(isHeaderOnScreen)]="isHeaderOnScreen"
              (isScrolled)="header.isOpen = false"
              (selectedSectionChange)="tabSelectionChange($event)"></app-header>
</div>
<div class="layout" id="myTabContent">
  <div *ngFor="let section of sections | keyvalue"
       role="tabpanel"
       tabindex="0"
       class="section"
       [id]="section.key + 'tab-pane'"
       [attr.aria-labelledby]="section.key + 'home-tab'">
    <h2
      [class.active]="section.key === selectedSection"
      [class.danger]="section.key === warringSection">{{ section.value }}</h2>
    <ng-container [ngSwitch]="section.key">
      <app-about *ngSwitchCase="'about'"></app-about>
      <ng-container *ngSwitchCase="'home'">
        <app-need-home *ngIf="(dogs$ | async)! | filter: 'home' as dogs else spinnerTMP"
                       [dogs]="dogs"
                       [isSmallScreen]="isSmallScreen"
                       (cardSelectionChange)="openModal($event)"></app-need-home>
      </ng-container>
      <ng-container *ngSwitchCase="'help'">
        <app-need-home *ngIf="(dogs$ | async)! | filter: 'help' as dogs else spinnerTMP"
                       [isNeedHelp]="true"
                       [isSmallScreen]="isSmallScreen"
                       [dogs]="dogs"
                       (cardSelectionChange)="openModal($event)"></app-need-home>
      </ng-container>
      <ng-container *ngSwitchCase="'labeled'">
        <app-labeled *ngIf="(dogs$ | async)! | filter: 'labeled' as dogs else spinnerTMP"
                     [dogs]="dogs"></app-labeled>
      </ng-container>
      <app-society *ngSwitchCase="'society'"></app-society>
      <app-requisites *ngSwitchCase="'requisites'"></app-requisites>
    </ng-container>
  </div>
  <button *ngIf="!isHeaderOnScreen"
          nz-button
          nzType="primary"
          nzShape="circle"
          class="anchor"
          (click)="tabSelectionChange(defaultSection)">
    <div class="anchor-img"></div>
  </button>
</div>

<ng-template #spinnerTMP>
  <div class="spinner">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>
