@import "../../../styles.scss";

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.active {
  color: $text-secondary;
  font-weight: bold;
}

.logo {
  height: $header-height;
  width: $header-height;
  block-size: fit-content;
  padding: 4px;
  float: left;
  background-color: $white;

  @media (min-width: $small-breakpoint) {
    width: $header-medium-height;
    height: $header-medium-height;
  }

  @media (min-width: $middle-breakpoint) {
    width: $header-large-height;
    height: $header-large-height;
  }
}

.layout {
  min-height: calc(100vh - $header-height);
  background-color: $layout;
  width: 100%;

  @media (min-width: $middle-breakpoint) {
    min-height: calc(100vh - $header-large-height);
  }
}

.section {
  padding: 20px;
}

.anchor {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  background-color: $text-secondary;
  border-color: $text-secondary;

  @media (min-width: $middle-breakpoint) {
    width: 50px;
    height: 50px;
  }
}

.anchor-img {
  height: 20px;
  width: 20px;
  margin: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 20 20' fill='none'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 13l-6-6-6 6'/%3E%3C/svg%3E");
}

.spinner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
