@import '../../../../styles';

.labeled {
  &__table {
    width: 100%;
    th, td {
      padding: 10px;
      border: 1px solid $text-primary;
      border-collapse: collapse;
      font-size: $text-small;

      @media (min-width: $middle-breakpoint) {
        font-size: $text-middle;
      }
    }

    th {
      word-break: break-all;
    }
  }

  &__picture {
    max-height: 100px;
    max-width: 100px;

    @media (min-width: $small-breakpoint) {
      max-height: 160px;
      max-width: 160px;
    }

    @media (min-width: $middle-breakpoint) {
      max-height: 260px;
      max-width: 260px;
    }
  }
}
