<table class="labeled__table">
  <tr>
    <th>Фото</th>
    <th>Бирка</th>
    <th>Пол</th>
    <th>Место обитания</th>
  </tr>
  <tr *ngFor="let dog of dogs">
    <td><img *ngIf="dog.src" [alt]="dog.name" [src]="api + dog.src" class="labeled__picture" /></td>
    <td>{{dog.mark}}</td>
    <td>{{dog.sex}}</td>
    <td>{{dog.address}}</td>
  </tr>
</table>
