<ul class="header__container"
    id="myTab"
    role="tablist">
  <ng-container *ngIf="isSmallScreen else bigScreenTmp">
    <button nz-button
            nzType="default"
            class="header__icon-button"
            [@openClose]="isOpen ? 'open' : 'closed'"
            (click)="isOpen = !isOpen"><div class="header__icon"></div></button>
  </ng-container>
</ul>

<ul *ngIf="isOpen" class="header__mobile-container">
  <ng-container *ngTemplateOutlet="bigScreenTmp"></ng-container>
</ul>
<ng-template #bigScreenTmp>
  <li *ngFor="let section of sections | keyvalue"
      role="presentation">
    <button data-bs-toggle="tab"
            type="button"
            role="tab"
            class="header__tab"
            [id]="section.key + 'tab'"
            [class.header__tab--active]="section.key === selectedSection"
            [class.danger]="section.key === warringSection"
            [attr.aria-label]="section.value"
            [attr.aria-controls]="section.key + 'tab-pane'"
            [attr.aria-selected]="section.key === selectedSection"
            (click)="onChapterClick(section.key)">{{ section.value }}</button>
  </li>
</ng-template>
