@import "../../../../styles.scss";

.header {
  &__container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: $header-height;
    background-color: $white;

    @media (min-width: $small-breakpoint) {
      gap: 20px;
      height: $header-medium-height;
      justify-content: center;
    }

    @media (min-width: $middle-breakpoint) {
      gap: 40px;
      height: $header-large-height;
    }
  }

  &__icon-button {
    margin: 4px;
    padding: 6px;
    color: $white;
    background-color: $text-secondary;
  }

  &__icon {
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z'/%3E%3C/svg%3E");
  }

  &__mobile-container {
    position: absolute;
    top: calc($header-height - 4px);
    right: 0;
    left: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    background-color: $white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  &__content {
    max-width: 900px;
    margin: auto;
  }

  &__tab {
    border: none;
    background: none;
    cursor: pointer;
    font-family: $header-font;
    font-size: $text-middle;
    white-space: nowrap;
    color: $text-primary;

    &:hover, &--active {
      color: $text-secondary;
      font-weight: bold;
    }

    @media (min-width: $small-breakpoint) {
      font-size: $text-middle;
    }

    @media (min-width: $middle-breakpoint) {
      font-size: $text-large;
    }
  }
}
