<p>Приют расположен в городе Волгоград (Краснослободск, Волгоградская область)</p>
<p><span class="society__title">Телефон для связи:</span> <a href="tel:+79608921731"> 8 960 892 17 31</a></p>
<p><span class="society__title">Телеграм:</span> <a href="https://t.me/Sasha_bulat_1994">
  https://t.me/Sasha_bulat_1994</a></p>
<p><span class="society__title">Дзен:</span> <a href="https://dzen.ru/id/60f9426297e0ae336998da1e">
  https://dzen.ru/id/60f9426297e0ae336998da1e</a></p>
<p><span class="society__title">Вконтакте:</span> <a href="https://vk.com/club197011667">
  https://vk.com/club197011667</a></p>
