<div [formGroup]="dog" class="dog-edit-modal__container">
  <label>Кличка</label>
  <input nz-input formControlName="name"/>
  <label>Пол</label>
  <nz-select formControlName="sex">
    <nz-option *ngFor="let el of sexVariants"
               [nzValue]="el"
               [nzLabel]="el"></nz-option>
  </nz-select>
  <label>Возраст</label>
  <div>
    <span>Лет:</span>
    <input nz-input formControlName="years" type="number"/>
  </div>
  <div>
    <span>Месяцев</span>
    <input nz-input formControlName="months" type="number"/>
  </div>
  <label>Бирка</label>
  <input nz-input formControlName="mark"/>
  <label>Описание</label>
  <textarea nz-input nzAutosize formControlName="description"></textarea>
  <label>Адрес</label>
  <textarea nz-input nzAutosize formControlName="address"></textarea>
  <label>Реквизиты</label>
  <textarea nz-input nzAutosize formControlName="accountData"></textarea>
  <label>Ссылка на видео</label>
  <input nz-input formControlName="video"/>
  <label>Основное фото</label>
  <app-upload [isMultiple]="false"
              [src]="dog.value.src ? [api + dog.value.src] : null"
              (filesChange)="addFile($event)"></app-upload>
  <label>Остальные фото</label>
  <app-upload-pictures
    *ngIf="dog.value.pictures?.length"
    [pictures]="dog.value.pictures!"
    [api]="api"
    (picturesChange)="changePhotos($event)"></app-upload-pictures>
  <app-upload [isMultiple]="true"
              [src]="[]"
              (filesChange)="addFiles($event)"></app-upload>
</div>
