.admin {
  &__container {
    display: grid;
    margin: 0 10px;
  }

  &__action-icon {
    cursor: pointer;
  }

  &__add-button {
    margin-top: 30px;
  }

  &__logout-container {
    margin: 20px;
    display: flex;
    align-items: flex-end;
  }
}
