<div class="admin__logout-container">
  <button nz-button nzType="primary" (click)="logout()">Выйти</button>
</div>
<div class="admin__container">
  <label for="section">Выберите раздел:</label>
  <nz-select id="section"
             [(ngModel)]="section"
             (ngModelChange)="sectionChange()">
    <nz-option
      *ngFor="let section of sections"
      [nzValue]="section"
      [nzLabel]="allSections[section]"></nz-option>
  </nz-select>

  <br/>

  <ng-container *ngIf="(allDogs$ | async) as dogs">
    <nz-table #basicTable
              [nzData]="dogs | filter: section">
      <thead>
      <tr>
        <th>Кличка</th>
        <th>Пол</th>
        <th>Бирка</th>
        <th>Возраст</th>
        <th>Адрес</th>
        <th>Реквизиты</th>
        <th>Описание</th>
        <th>Адрес</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.sex }}</td>
        <td>{{ data.mark }}</td>
        <td>{{ data.years | age: data.months }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.accountData }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.address }}</td>
        <td>
        <span nz-icon
              nzType="edit"
              nzTheme="outline"
              class="admin__action-icon"
              (click)="editDog(dogs, data)"></span>
          <nz-divider nzType="vertical" style="margin: 10px"></nz-divider>
          <span nz-icon
                nzType="close"
                nzTheme="outline"
                class="admin__action-icon"
                nz-popover
                nzPopoverTitle="Вы уверены, что хотите удалить?"
                nzPopoverTrigger="click"
                [(nzPopoverVisible)]="data.isVisible"
                (nzPopoverVisibleChange)="changePopup(data)"
                [nzPopoverContent]="contentTemplate"></span>
          <ng-template #contentTemplate>
            <a (click)="removeDog(dogs, data?._id)">Да!</a>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <button nz-button nzType="primary"
            class="admin__add-button"
            (click)="addDog(dogs)">Добавить
    </button>
  </ng-container>
</div>
