@import "../../../styles.scss";

.login {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $layout;
  }

  &__card {
    margin: auto;
    width: max(40%, 300px);
    background-color: $white;
    box-shadow: 3px 2px 2px #cccaca;
    padding: 30px;
    text-align: center;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  &__help-text {
    font-size: $text-small;
    color: $secondary;
  }
}
