<div class="login__container">
  <div class="login__card" [formGroup]="form">
    <h2>Вход в систему</h2>
    <input type="text"
           nz-input
           formControlName="login"
           placeholder="Введите логин"/>
    <span *ngIf="form.controls.login.invalid && form.touched && isSubmitted"
          class="login__help-text">
      Длина поля 'логин' должна быть не меньше 3-х символов</span>
    <input style="margin-top: 10px"
           formControlName="password"
           type="password"
           nz-input
           placeholder="Введите пароль"/>
    <span *ngIf="form.controls.password.invalid && form.touched && isSubmitted"
          class="login__help-text">Введите пароль</span>
    <span *ngIf="isIncorrect$ | async"
          class="login__help-text">Ошибка</span>
    <div class="login__button-container">
      <button nz-button
              nzType="primary"
              (click)="submit()"
              (keydown.enter)="submit()">OK</button>
      <button nz-button (click)="navigateToShelter()">Отмена</button>
    </div>
  </div>
</div>
