<div class="about__container">
  <div class="about__img-container">
    <img src="assets/horse1.jfif" class="about__img">
  </div>
  <div [innerHTML]="aboutText" class="about__text"></div>
  <div class="about__img-container">
    <img src="assets/horse2.jfif" class="about__img">
  </div>
</div>
