@import "../../../../styles.scss";

.about {
  &__container {
    align-items: center;
    gap: 20px;

    @media (min-width: $small-breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:last-of-type {
      display: none;
      @media (min-width: $middle-breakpoint) {
        display: flex;
      }
    }
  }

  &__img-bottom-container {
    display: none;

    @media (min-width: $middle-breakpoint) {
      display: flex;
      margin: 40px 0;
      justify-content: space-between;
    }
  }

  &__img {
    max-width: 200px;
  }

  &__text {
    margin-top: 30px;
  }
}
