<div *ngIf="pictures?.length"
     class="upload-pictures__container">
  <div *ngFor="let photo of pictures; index as index"
       class="upload-pictures__photo-container">
        <span class="upload-pictures__delete-button"
              (click)="deleteUploadedPhoto(index)">X</span>
    <img class="upload-pictures__photo" [src]="api + photo">
  </div>
</div>
