.upload-pictures {

  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__photo {
    object-fit: contain;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
  }

  &__photo-container {
    max-height: 240px;
    max-width: 240px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__delete-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
