<div class="dog-modal-pictures__container">
  <iframe *ngIf="data.dog.video"
          width="300"
          height="300"
          appSrc
          [url]="data.dog.video">
  </iframe>
  <img *ngFor="let picture of data.dog.pictures"
       [src]="api + picture"
       class="dog-modal-pictures__picture">
</div>
<p *ngIf="data.dog.accountData">
  <span class="dog-modal-pictures__label">Реквизиты: </span>
  {{ data.dog.accountData }}</p>
<div class="dog-modal-pictures__description">{{ data.dog.description }}</div>
