.dog-modal-pictures {
  &__container {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    overflow: auto;
  }

  &__picture {
    vertical-align: middle;
    border-style: none;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
  }

  &__description {
    max-height: 16vh;
    margin-top: 24px;
    overflow: auto;
  }

  &__label {
    font-weight: bold;
  }
}
