@import "../../../../styles.scss";

.need-home {
  &__container {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: 1fr;

    @media (min-width: $small-breakpoint) {
      grid-template-columns: calc(50% - 18px) calc(50% - 18px);
    }

    @media (min-width: $middle-breakpoint) {
      grid-template-columns: calc(100%/3 - 24px) calc(100%/3 - 24px) calc(100%/3 - 24px);
    }
  }
}
