<div class="need-home__container">
  <app-card *ngFor="let dog of dogs"
            [card]="dog"
            [isNeedHelp]="isNeedHelp"
            [isSmallScreen]="isSmallScreen"
            (click)="cardSelectionChange.emit(dog)"></app-card>
</div>
