@import "../../../styles";

.card {
  &__container {
    width: 100%;
    background-color: $white;
    border-radius: 12px;
  }

  &__picture {
    height: 200px;
    padding: 8px;
    object-fit: contain;
    border-radius: 12px;
  }

  &__label {
    font-weight: bold;
  }
}
