<nz-card nzHoverable
         [nzCover]="coverTemplate"
         class="card__container">
  <nz-card-meta [nzTitle]="titleTemplate"
                [nzDescription]="descriptionTemplate">
  </nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img [alt]="card.name"
       [src]="api + card.src"
       class="card__picture"/>
</ng-template>

<ng-template #titleTemplate>
  <p *ngIf="isSmallScreen"></p>
  <h3>{{ card.name }} {{ card.years | age: card.months }}{{ card.sex !== '?' ? ', ' + card.sex : '' }}</h3>
</ng-template>

<ng-template #descriptionTemplate>
  <p *ngIf="card.accountData"><span class="card__label">Реквизиты: </span>{{ card.accountData }}</p>
  <p>{{ card.description }}</p>
</ng-template>
