<p>💳 <span class="requisites__bank">Сбербанк:</span> 2202 2062 5951 0431
  привязана к номеру 8 917 831 24 75 на имя Елена Леонидовна Т. (Мою маму)</p>
<p>💳 <span class="requisites__bank">Тинькофф:</span> 2200 7011 7836 5745
  Елена Леонидовна Т.</p>
<p>💳 <span class="requisites__bank">ВТБ:</span> 2200 2404 4782 2665 Елена Леонидовна Т.</p>
<p>📱 <span class="requisites__bank">Голодный:</span> 8 960 892 17 31</p>

"АНОЗЖ" "ПРИЮТ ШАНС"
<br>
ИНН 3443151822
<br>
КПП 344301001
<br>
Р/С 40703810600000739543
<br>
ФИЛИАЛ АО "ТИНЬКОФФ-БАНК"
<br>
БИК 044525974
<br>
К/С 30101810145250000974
<br>
Спасибо каждому, кто помогает❤🥺
