//colors
$layout: #F5EEE6;
$white: #fffaf6;
$primary: #F5DD61;
$secondary: #F4538A;
$text-primary: #34666b;
$text-secondary: #80bcc2;


//text-sizes
$text-small: 10px;
$text-middle: 12px;
$text-large: 16px;

//sizes
$header-height: 60px;
$header-medium-height: 60px;
$header-large-height: 90px;

//fonts
$header-font: cursive;

//breakpoint
$small-breakpoint: 768px;
$middle-breakpoint: 1060px;

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

h3 {
  font-family: cursive;
  white-space: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $layout;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $text-primary;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-primary;
}

.ant-card-meta-description {
  height: 95px;
  overflow: auto;
}

.danger {
  &:after {
    content: "!";
    vertical-align: middle;
    color: #F4538A;
    font-weight: bold;
    border-radius: 10px;
    padding: 0 6px;
    outline: auto;
    margin: 4px;
    font-size: 10px;
  }
}
