
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/style/patch.less";
@import "../node_modules/ng-zorro-antd/style/default.less";
@import "../node_modules/ng-zorro-antd/card/style/entry.less";
@import "../node_modules/ng-zorro-antd/modal/style/entry.less";
@import "../node_modules/ng-zorro-antd/select/style/entry.less";
@import "../node_modules/ng-zorro-antd/table/style/entry.less";
@import "../node_modules/ng-zorro-antd/spin/style/entry.less";
@import "../node_modules/ng-zorro-antd/input/style/entry.less";
@import "../node_modules/ng-zorro-antd/popover/style/entry.less";
@import "../node_modules/ng-zorro-antd/upload/style/entry.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
//@blue-base: #2bd3a3;
//@menu-dark-color: black;
//@header-header-background: #fff;

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #fff;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-item:hover::after {
  display: none;
}
